



<div class="content" role="main">

  <!-- Highlight Card -->
  



 



  <input type="hidden" #selection>





 <div class="botones">
  <button (click)="listarTuristas()"> Listar turistas</button>
  <button (click)="listarCiudades()"> Listar ciudades</button>
  <button (click)="addTourist()"> Añadir turista</button>
  <button (click)="addCity()"> Añadir ciudad</button>
</div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>