



<div class="content" role="main">

  <!-- Highlight Card -->
  



 

z





<div class="container">

<h1>Gestion de reservaciones de turistas</h1>

</div>

 <div class="botones">
  <button type="button" class="btn btn-primary" (click)="listarTuristas()"> Listar turistas</button>
  <button type="button" class="btn btn-primary" (click)="listarCiudades()"> Listar ciudades</button>
  <button type="button" class="btn btn-primary"(click)="addTourist()"> Añadir turista</button>
  <button type="button" class="btn btn-primary"(click)="addCity()"> Añadir ciudad</button>
</div>
</div>





<router-outlet></router-outlet>